<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <activity
            android:name=".app.startup.ui.StartupActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.oboarding.ui.OnboardingActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.settings.settings.ui.SettingsActivity"
            android:exported="true" />

        <activity
            android:name=".app.settings.general.ui.GeneralSettingsActivity"
            android:exported="true" />

        <activity
            android:name=".app.permissions.ui.PermissionsActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE_FOR_PERIOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.ads.ui.AdsSettingsActivity"
            android:exported="true" />

        <activity
            android:name=".app.help.ui.HelpActivity"
            android:exported="true" />

        <activity
            android:name=".app.licenses.LicensesActivity"
            android:exported="true" />

        <activity
            android:name=".app.support.ui.SupportActivity"
            android:exported="true" />

        <activity
            android:name=".app.issuereporter.ui.IssueReporterActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="true" />

        <meta-data
            android:name="google_analytics_default_allow_analytics_storage"
            android:value="true" />
        <meta-data
            android:name="google_analytics_default_allow_ad_storage"
            android:value="true" />
        <meta-data
            android:name="google_analytics_default_allow_ad_user_data"
            android:value="eu_consent_policy" />
        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="eu_consent_policy" />
    </application>
</manifest>