<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="vnd.android.cursor.dir/phone_v2" />
        </intent>
    </queries>

    <application
        android:name=".data.core.AppCoreManager"
        android:appCategory="image"
        android:description="@string/app_description"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:logo="@drawable/ic_launcher_foreground"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="33">

        <activity
            android:name=".ui.screens.startup.StartupActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screens.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/SplashScreenTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.screens.support.SupportActivity"
            android:parentActivityName=".ui.screens.main.MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screens.lessons.LessonActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lesson"
                    android:pathPrefix="/"
                    android:scheme="com.d4rk.androidtutorials" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.settings.SettingsActivity"
            android:exported="true"
            android:label="@string/settings"
            android:parentActivityName=".ui.screens.main.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.settings.display.DisplaySettingsActivity"
            android:parentActivityName=".ui.screens.settings.SettingsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screens.settings.display.theme.ThemeSettingsActivity"
            android:parentActivityName=".ui.screens.settings.display.DisplaySettingsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screens.settings.advanced.AdvancedSettingsActivity"
            android:parentActivityName=".ui.screens.settings.SettingsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screens.settings.privacy.PrivacySettingsActivity"
            android:parentActivityName=".ui.screens.settings.SettingsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screens.settings.privacy.permissions.PermissionsSettingsActivity"
            android:exported="true"
            android:parentActivityName=".ui.screens.settings.privacy.PrivacySettingsActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE_FOR_PERIOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.settings.privacy.usage.UsageAndDiagnosticsActivity"
            android:parentActivityName=".ui.screens.settings.privacy.PrivacySettingsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screens.settings.privacy.ads.AdsSettingsActivity"
            android:parentActivityName=".ui.screens.settings.privacy.PrivacySettingsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screens.settings.about.AboutSettingsActivity"
            android:parentActivityName=".ui.screens.settings.SettingsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screens.help.HelpActivity"
            android:parentActivityName=".ui.screens.main.MainActivity"
            android:windowSoftInputMode="adjustResize" />
































        <activity
            android:name=".ui.settings.scanner.ScannerSettingsActivity"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.screens.settings.scanner.camera.ChooseCameraActivity"
            android:parentActivityName=".ui.settings.scanner.ScannerSettingsActivity" />
        <activity
            android:name=".ui.settings.scanner.formats.SupportedFormatsActivity"
            android:parentActivityName=".ui.settings.scanner.ScannerSettingsActivity" />

        <activity
            android:name=".ui.settings.history.HistorySettingsActivity"
            android:parentActivityName=".ui.settings.SettingsActivity" />




        <activity
            android:name=".ui.screens.scan.file.ScanBarcodeFromFileActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/scan_image"
            android:parentActivityName=".ui.screens.scan.file.ScanBarcodeFromFileActivity"
            tools:ignore="AppLinkUrlError">
            <intent-filter android:label="@string/scan_image">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter android:label="@string/scan_image">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.create.CreateBarcodeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible">
            <intent-filter android:label="@string/create_qr_code">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/create_qr_code">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-vcard" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.create.qr.CreateQrCodeAllActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/create_qr_code" />
        <activity
            android:name=".ui.screens.create.barcode.CreateBarcodeAllActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/create_barcode"
            android:parentActivityName=".ui.screens.create.barcode.CreateBarcodeAllActivity" />
        <activity
            android:name=".feature.barcode.BarcodeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.barcode.BarcodeImageActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".feature.barcode.otp.OtpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/otp"
            android:parentActivityName=".feature.barcode.otp.OtpActivity" />
        <activity
            android:name=".feature.barcode.save.SaveBarcodeAsTextActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/save"
            android:parentActivityName=".feature.barcode.save.SaveBarcodeAsTextActivity" />
        <activity
            android:name=".feature.barcode.save.SaveBarcodeAsImageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/save"
            android:parentActivityName=".feature.barcode.save.SaveBarcodeAsImageActivity" />
        <activity
            android:name=".ui.screens.history.export.ExportHistoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/export_history"
            android:parentActivityName=".ui.screens.history.export.ExportHistoryActivity" />

        <activity
            android:name=".ui.settings.advanced.search.ChooseSearchEngineActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/search_engines"
            android:parentActivityName=".ui.settings.advanced.search.ChooseSearchEngineActivity" />
        <activity
            android:name=".ui.settings.permissions.PermissionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/permissions"
            android:parentActivityName=".ui.settings.permissions.PermissionsActivity" />
        <activity
            android:name=".ui.settings.support.SupportActivity"
            android:exported="false"
            android:label="@string/support_us"
            android:parentActivityName=".ui.settings.support.SupportActivity" />

        <service
            android:name=".feature.tile.QuickSettingsTileService"
            android:exported="true"
            android:icon="@drawable/ic_scan"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.d4rk.qrcodescanner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5294151573817700~6790204555" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui"/>

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />
    </application>
</manifest>